<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>About</h1>
    <p>
    Melissa Slovek Bonghi was born and raised in Omaha Nebraska. She attended the University of Nebraska at Omaha earning a Bachelors of Arts in 1990. Melissa became an accredited lactation counselor with La Leche League International in 1997 and an International Board Certified Lactation Consultant (IBCLC) in 2005. Melissa has enjoyed working with birthing families over the years as a childbirth instructor, birth doula and lactation consultant. Melissa opened Bainbridge Lactation Services in 2007.
    <br />
    <br />
Melissa and her family live on Bainbridge Island. Her family includes husband Tony, a software developer who works in Seattle, and children Elizabeth and Jasper.
    </p>
  </body>
</html>

