<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
<table align="center">
  <tr>
    <td>Phone:</td>
    <td>206-790-9488</td> 
  </tr>
  <tr>
    <td>FAX:</td>
    <td>206-780-3210</td> 
  </tr>
</table>
</p>

