<h1>Welcome to Bainbridge Lactation Services</h1>
<h2>Complete Assessment of the Breastfeeding Dyad</h2>

<p>
Each mother and baby pair, a dyad, is unique.  A complete assessment is necessary for the dyad experiencing one or more of the following issues:
<div align="center" size="50%">
<div align="left" >
<ul>
  <li>breast pain</li>
  <li>nipple pain</li>
  <li>difficulty bringing the baby to the breast</li>
  <li>baby not staying on the breast</li>
  <li>fussy baby</li>
  <li>slower than expected weight gain</li>
  <li>twins</li>
  <li>premature baby</li>
  <li>breast reduction or breast implants</li>
<ul />
</div>	
</div>	
<p>
The assessment can take up to two hours depending on your needs. This can be done in my office or in your home, whichever is most comfortable for you. For home visits, I bring everything needed (baby scale, breast pump, etc).

