<% provide(:title, "Services") %>
<!DOCTYPE html>
<html>
  <body>
  <h1>Services</h1>
  <p>
    <b>Consultation Fees</b>
    <br />
   $120.00 per hour. There is an additional fee of $25 for home visits that require traveling beyond Bainbridge Island. This fee includes follow-up help by phone and email, until the original breastfeeding issue is resolved. An average visit is 1.5 hours.
    <br />
    A Lactation Consultation report is sent to Mother's or Baby's health care provider. For your convenience, I will provide a Lactation Care Invoice to be submitted to your insurance carrier for any reimbursement available to you through your insurance plan. I do not bill insurance companies directly. Lactation Services are covered under Health Flexible Spending Account Plans. Payment is due at the time of service, cash or check.
  </p>
  </body>
</html>
