<% provide(:title, "Testimonials") %>
<!DOCTYPE html>
<html>
  <body>
  <h1>Testimonials</h1>
  <p>
    <b>TFrom Frederick C. Walters, M.D., Bainbridge Pediatrics</b>

“There are many known health and developmental benefits of breastfeeding. In addition, once a breastfeeding routine is established, it is one of the easiest ways to feed your infant and can also augment the bond that forms between a mother and her child. However, breast-feeding issues commonly arise, especially in the first days and weeks after birth. In this case, the help of an experienced International Board Certified Lactation Consultant (IBCLC) can be invaluable. Melissa Bonghi, IBCLC, is very knowledgeable about establishing an effective and comfortable breastfeeding routine and she has helped many of my patients. I recommend her highly!"

<br>
<b>From Angela Droz, MD</b>

"Thank you for your incredible care in helping me in the early days of breastfeeding my twins.  As you know, from the very beginning I was having pain when breastfeeding my daughter.  You were able to come to our home right away- such a relief for me in those difficult first few days.  I was impressed how you used a very objective scale and scoring system to evaluate latch.  More importantly you watched me breastfeed both the twins, advised on technique, weighed the twins and most importantly, encouraged me and told me what a great job I was doing.  Thanks to you, I did not give up and I am still exclusively breastfeeding my babies at 7 months old. My daughter is now a breastfeeding champ and it makes me sad to think that I may have given up breastfeeding her if it weren't for you!  I love breastfeeding my twins and they enjoy it so much too.  Thank your for your invaluable help and encouragement--you have made such an important contribution to our lives that I will never forget!

<br>
From Kim Radtke

“Melissa is a compassionate and highly knowledgeable lactation  consultant.  Her guidance postpartum not only facilitated my  establishing breastfeeding with my son but helped me be patient and  trust in the process.”                

<br>
From Sara Otepka

"I appreciate your help, and guidance, I owe you a debt of gratitude  for Rudy being a happy, healthy breastfed baby- You got me through a  tough time at 8 weeks, when I was ready to turn to formula.  You offered  a great mix of informational and emotional support.  You were not at  all preachy or judgmental.  I am so thankful Rudy is four months old and  100% breastfed and I look forward to many more months!"

<br>
From Kris Avery, RN

“I have had the pleasure of knowing and working with Melissa since January, 2005. We are colleagues in our Birth Professionals network and have worked together on several group projects and with clients who access our complementary services. I am also pleased to count her as a friend. She was the first to welcome me to Bainbridge Island and introduced me to our local birth support group.

Melissa has always been conscientious and professional in her interactions with clients and peers. I have been impressed by her ability to bring focus to our group discussions/projects and her dependability in following through with stated goals. She is often the one who brings a fresh perspective to our discussions and "sees the big picture" when assessing the issues. 

Her expertise as a lactation consultant is extensive and I have been happy to refer clients to her on many occasions. She is empathetic, supportive and effective in her work with nursing mothers and their families. The feedback I hear from the community is that she is an asset and well respected. 

I am happy to recommend Melissa to anyone who is in need of her services as professional in the field of lactation and birth support.”

<br>
From Sarah Ferguson

“Melissa was a wonderful lactation consultant. She is genuine and  passionate about her work.  As a first-time mom she eased my concerns.   She was informative, helpful and a pleasure to work with.”

<br>
From  Lisa Camacho

“Melissa worked with me before and after the birth of my twins as a  lactation consultant.  She helped me formulate a plan for breastfeeding  before their birth, and help me implement the plan once we were all  home.  She was incredibly knowledgeable, sensitive, and caring.  Melissa  is who you want to help you with this beautiful (sometimes frustrating!) time.”

<br>
From Behan Gifford

“Melissa has the beautiful combination of keen  listener, dauntless advocate, and warm supporter... I would work with  her in a heartbeat!”

<br>
From Marie Witherell, RN Lactation Consultant, Evergreen Hospital Medical Center

“Melissa is a tireless advocate for mothers and babies . She relates  to various situations with compassion, and competence, and her humor and  quick wit are delightful”

<br>
From Lauralee Carbone

“Melissa is an inspirational leader who motivates her co-workers with her enthusiasm, organization, hard work and pizazz.” <a href="http://www.linkedin.com/profile/view?id=35470395&noCreateProposal=true&goback=%2Enpe_35466699_*1_*1" title="View Lauralee's Profile"> </a>

<br>
From Chris Kelly

"I wanted to let everyone know that my breastfeeding issues have been resolved thanks to Melissa Bonghi, IBCLC, 790-9488. Not only did she answer her phone on a Sunday evening (which knowing help was on the way was a relief in and of itself), but she arrived at my home with all of her equipment, expertise and kindness at 10am the next morning.

She is very gentle, knowledgeable and thorough. She also have hospital grade pumps available for rent on the island (which is much gentler than the Medela Instyle that I bought). She gave me the confidence and tools to keep trying even though the pain I had experienced had me scared to death and in tears. Now I have it down and all is good. She followed up with us today and had us come into her very peaceful and comfortable office so she could weigh our baby and double check our progress. This was part of the original visit (She offered to come to our home again but we were out anyway).

She never made me feel like I would be wrong if I felt like I had to do anything to make my life easier ie: an occasional supplement even though not recommended. Again, this put me at ease enough to get over the hump.

So, thanks out loud to Melissa and to all Moms...it is so nice to have this kind of assistance on the island."

<br>
From Lauren Walsh

"My child was born with a cleft palate and unable to nurse. Yet I wanted my child to have the benefits of breast milk so I pumped for the first six months. Melissa's support during this time was absolutely priceless. She always knew just the right words of encouragement and provided invaluable information both on pumping resources and other mothers in similar circumstances. She was a walking library, mentor, cheerleader and the best friend a pumping mother could have!"

  </p>
  </body>
</html>
